
@{
    ViewData["Title"] = "Index";
}

<h2>WELCOME TO HACK-ME-001</h2>
<br />
<pre>
# HACKME
##HackMe 001 - SQL Injection

You are hungry, there is $1 left in your pocket.
The price of Bread is 1,000,000 It's ridiculous.

Your mission:
* Your User Name = poorguy, password = nomoney. You have to buy that Bread with $1 only.

More mission:
* Download all user information from the database: username,  password hash, phone number, email... as much as you can. Remember, you don't know the password of the database and there is no user management page to take a look.
* You know, there are many accounts in the system. You don't know their password, but It won't beat you, let try to login into the system by another User Name.
</pre>